
<p>
  <strong>Year_Month:</strong>
  <%= @student_group.year_month %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @student_group.course_name %>
</p>

<% @student_groups.users.each do |user| %>
  <p><%= user.name %></p>
<% end %>
<%= link_to 'Edit', edit_student_group_path(@student_group) %> |
<%= link_to 'Back', student_groups_path %>
