<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @event_day.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event_day.end_time %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event_day.day %>
</p>

<%= link_to 'Edit', edit_event_day_path(@event_day) %> |
<%= link_to 'Back', event_days_path %>
