<% if current_user.try(:admin?) %>
  <h1>Events_admin</h1>
<% else %>
  <h1>Events</h1>
<% end %> 

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if user_signed_in? %>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
		<% if current_user.admin %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %> 
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
