<!DOCTYPE html>
<html>
  <head>
    <title>Imanager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <header>
    <div class="jumbotron">
     <div class="container">
       <h1>iManager</h1>
       <p>The application makes interviews much easier. You will be able to see your schedule.</p>
       <button type="button" class="btn btn-primary btn-lg" role="button"><%= link_to 'View Events »', appointments_path %></button>
       <button class="btn btn-primary btn-lg" href="#" role="button">Sign up »</button>
     </div>
   </div>
  </header>

<div class="content">

  <% if user_signed_in? %>
	  <%#= link_to "面談イベントの投稿", events_path %>
	  <button type="button" class="btn btn-danger"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
	<% else %>
	  <button type="button" class="btn btn-success"><%= link_to "新規登録", new_user_registration_path %></button>
	  <button type="button" class="btn btn-primary"><%= link_to "ログイン", new_user_session_path %></button>
	<% end %>

	<% if notice %>
	  <p class="alert alert-notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-error"><%= alert %></p>
	<% end %>

    <%= yield %>
</div>
  </body>
</html>
